header {
    position: fixed;
    top: 0;
    left: 250px;
    width: calc(100% - 250px);
    height: 80px;
    background-color: white;
    z-index: 999;
}

#navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav_logo {
    font-size: 24px;
    color: rgb(161, 118, 202);
}

#nav_list{
    display: flex;
    list-style: none;
    gap: 48px;
}

.nav-item a {
 text-decoration: none;
 color: rgb(204, 154, 250);
 font-weight: 600;
}

.nav-item.active a {
 color: rgb(204, 154, 250);
 border-bottom: 3px solid #ffe100;
}