<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/navside.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"/>

  <title>{% block title %}Lumme{% endblock %}</title>
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/lumme.ico') }}">

  {% block styles %}{% endblock %}
</head>
<body>

  {% include 'navside.html' %}

  <main id="content">
    {% block content %}{% endblock %}
  </main>

  {% include 'footer.html' ignore missing %}

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  <script src="{{ url_for('static', filename='javascript/script.js') }}"></script>
  <script src="https://unpkg.com/scrollreveal"></script>

  {% block scripts %}{% endblock %}
</body>
</html>
