<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://unpkg.com/scrollreveal"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/desafios.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

    <title>Lumme - Desafios</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/lumme.ico') }}">
</head>
<body>
    <nav id="sidebar">
        <div id="sidebar_content">
            <div id="user">
                <img src="{{ url_for('static', filename='images/avatar.png') }}" id="user_avatar" alt="Avatar">
                <p id="user_infos">
                    <span class="item-description">Fulano de Tal</span>
                    <span>Lorem Ipsum</span>
                </p>
            </div>

            <ul id="side_itens">
                <li class="side-iten active">
                    <a href="#"><i class="fa-solid fa-chart-simple"></i><span class="item_description">Dashboard</span></a>
                </li>
                <li class="side-iten"><a href="#"><i class="fa-solid fa-user"></i><span class="item_description">Usuário</span></a></li>
                <li class="side-iten"><a href="#"><i class="fa-solid fa-bell"></i><span class="item_description">Notificações</span></a></li>
                <li class="side-iten"><a href="#"><i class="fa-solid fa-image"></i><span class="item_description">Imagens</span></a></li>
                <li class="side-iten"><a href="#"><i class="fa-solid fa-user-gear"></i><span class="item_description">Configurações</span></a></li>
            </ul>

            <button id="open_button">
                <i id="open_button_icon" class="fa-solid fa-chevron-right"></i>
            </button>
        </div>

        <div id="logout">
            <a href="{{ url_for('logout') }}">
                <button id="logout_button">
                    <i class="fa-solid fa-right-from-bracket"></i>
                    <span class="item_description">Logout</span>
                </button>
            </a>
        </div>
    </nav>

    <header>
<nav id="navbar">
    <i class="fa-solid fa-feather" id="nav_logo">Lumme.</i>
    <ul id="nav_list">
        <li class="nav-item"><a href="{{ url_for('index') }}">Início</a></li>
        <li class="nav-item"><a href="{{ url_for('orcamento') }}">Orçamento</a></li>
        <li class="nav-item"><a href="{{ url_for('metas') }}">Metas</a></li>
        <li class="nav-item"><a href="{{ url_for('desafios') }}">Desafios</a></li>
        <li class="nav-item"><a href="{{ url_for('diario') }}">Diário Financeiro</a></li>
    </ul>
</nav>
    </header>

<main id="content">

    <h2 class="section-title">Desafios</h2>
    
    <div id="container">
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img src="{{ url_for('static', filename='images/front-flip.jpg') }}" class="flip-card-image" alt="card front">
                </div>
                <div class="flip-card-back">
                    <img src="{{ url_for('static', filename='images/black-flip.jpg') }}" class="flip-card-image" alt="card back">
                </div>
            </div>
        </div>

        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img src="{{ url_for('static', filename='images/flipfront2.jpg') }}" class="flip-card-image" alt="card front">
                </div>
                <div class="flip-card-back">
                    <img src="{{ url_for('static', filename='images/flipback2.jpg') }}" class="flip-card-image" alt="card back">
                </div>
            </div>
        </div>

        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img src="{{ url_for('static', filename='images/flipfront3.jpg') }}" class="flip-card-image" alt="card front">
                </div>
                <div class="flip-card-back">
                    <img src="{{ url_for('static', filename='images/flipback3.jpg') }}" class="flip-card-image" alt="card back">
                </div>
            </div>
        </div>

        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img src="{{ url_for('static', filename='images/flipfront4.jpg') }}" class="flip-card-image" alt="card front">
                </div>
                <div class="flip-card-back">
                    <img src="{{ url_for('static', filename='images/flipback4.jpg') }}" class="flip-card-image" alt="card back">
                </div>
            </div>
        </div>

        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img src="{{ url_for('static', filename='images/flipfront5.jpg') }}" class="flip-card-image" alt="card front">
                </div>
                <div class="flip-card-back">
                    <img src="{{ url_for('static', filename='images/flipback5.jpg') }}" class="flip-card-image" alt="card back">
                </div>
            </div>
        </div>
    </div>

    <!--<section id="menu">
        <div id="dishes">
            {% for i in range(5) %}
            <div class="dish">
                <div class="lum-heart">
                    <i class="fa-solid fa-star"></i>
                </div>
                <img src="{{ url_for('static', filename='images/icon1.png') }}" class="lum-image" alt="">
                <h3 class="dish-title">lgwfdyofgqdfvchie</h3>
                <span class="dish-description">hydreachjn</span>
            </div>
            {% endfor %}
        </div>
    </section>-->

</main>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const navItems = document.querySelectorAll('.nav-item');

        const currentPath = window.location.pathname;

        navItems.forEach(item => {
            const link = item.querySelector('a');
            const linkPath = link.getAttribute('href');

            if (linkPath === currentPath || (currentPath === '/' && linkPath === '#home')) {
                navItems.forEach(i => i.classList.remove('active'));
                item.classList.add('active');
            }
        });
    });
</script>
<script src="{{ url_for('static', filename='javascript/script.js') }}"></script>
</body>
</html>
