{% extends "base.html" %}

{% block title %}Lumme - Desafios{% endblock %}

{% block styles %}
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/desafios.css') }}">
{% endblock %}

{% block content %}
<div id="container">
    <div class="flip-card">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <img src="{{ url_for('static', filename='images/front-flip.jpg') }}" class="flip-card-image" alt="card front">
            </div>
            <div class="flip-card-back">
                <img src="{{ url_for('static', filename='images/black-flip.jpg') }}" class="flip-card-image" alt="card back">
            </div>
        </div>
    </div>

    <div class="flip-card">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <img src="{{ url_for('static', filename='images/flipfront2.jpg') }}" class="flip-card-image" alt="card front">
            </div>
            <div class="flip-card-back">
                <img src="{{ url_for('static', filename='images/flipback2.jpg') }}" class="flip-card-image" alt="card back">
            </div>
        </div>
    </div>

    <div class="flip-card">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <img src="{{ url_for('static', filename='images/flipfront3.jpg') }}" class="flip-card-image" alt="card front">
            </div>
            <div class="flip-card-back">
                <img src="{{ url_for('static', filename='images/flipback3.jpg') }}" class="flip-card-image" alt="card back">
            </div>
        </div>
    </div>

    <div class="flip-card">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <img src="{{ url_for('static', filename='images/flipfront4.jpg') }}" class="flip-card-image" alt="card front">
            </div>
            <div class="flip-card-back">
                <img src="{{ url_for('static', filename='images/flipback4.jpg') }}" class="flip-card-image" alt="card back">
            </div>
        </div>
    </div>

    <div class="flip-card">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <img src="{{ url_for('static', filename='images/flipfront5.jpg') }}" class="flip-card-image" alt="card front">
            </div>
            <div class="flip-card-back">
                <img src="{{ url_for('static', filename='images/flipback5.jpg') }}" class="flip-card-image" alt="card back">
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
  <script src="{{ url_for('static', filename='javascript/script.js') }}"></script>
{% endblock %}
