<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://unpkg.com/scrollreveal"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/desafios.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/navside.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

    <title>Lumme - Desafios</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/lumme.ico') }}">
</head>
<body>  
    {% include 'navside.html' %}


<main id="content">
      
    <div id="container">
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img src="{{ url_for('static', filename='images/front-flip.jpg') }}" class="flip-card-image" alt="card front">
                </div>
                <div class="flip-card-back">
                    <img src="{{ url_for('static', filename='images/black-flip.jpg') }}" class="flip-card-image" alt="card back">
                </div>
            </div>
        </div>

        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img src="{{ url_for('static', filename='images/flipfront2.jpg') }}" class="flip-card-image" alt="card front">
                </div>
                <div class="flip-card-back">
                    <img src="{{ url_for('static', filename='images/flipback2.jpg') }}" class="flip-card-image" alt="card back">
                </div>
            </div>
        </div>

        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img src="{{ url_for('static', filename='images/flipfront3.jpg') }}" class="flip-card-image" alt="card front">
                </div>
                <div class="flip-card-back">
                    <img src="{{ url_for('static', filename='images/flipback3.jpg') }}" class="flip-card-image" alt="card back">
                </div>
            </div>
        </div>

        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img src="{{ url_for('static', filename='images/flipfront4.jpg') }}" class="flip-card-image" alt="card front">
                </div>
                <div class="flip-card-back">
                    <img src="{{ url_for('static', filename='images/flipback4.jpg') }}" class="flip-card-image" alt="card back">
                </div>
            </div>
        </div>

        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img src="{{ url_for('static', filename='images/flipfront5.jpg') }}" class="flip-card-image" alt="card front">
                </div>
                <div class="flip-card-back">
                    <img src="{{ url_for('static', filename='images/flipback5.jpg') }}" class="flip-card-image" alt="card back">
                </div>
            </div>
        </div>
    </div>

</main>

<script src="{{ url_for('static', filename='javascript/script.js') }}"></script>
</body>
</html>
