<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">

<style>
  html, body {
    background-color: #99cae7;
    margin: 0;
    padding: 0;
    height: 100%;
  }

  #navbar {
    background-color: #99cae7;
  }

  body {
    visibility: hidden;
  }
</style>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/scrollreveal"></script>
    <title>Lumme - Diário Financeiro</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/lumme.ico') }}">
</head>
<body>
        <nav id="sidebar">
        <div id="sidebar_content">
            <div id="user">
                <img src="{{ url_for('static', filename='images/avatar.png') }}" id="user_avatar" alt="Avatar">
                <p id="user_infos">
                    <span class="item-description">Fulano de Tal</span>
                    <span>Lorem Ipsum</span>
                </p>
            </div>

            <ul id="side_itens">
                <li class="side-iten active">
                    <a href="#"><i class="fa-solid fa-chart-simple"></i><span class="item_description">Dashboard</span></a>
                </li>
                <li class="side-iten"><a href="#"><i class="fa-solid fa-user"></i><span class="item_description">Usuário</span></a></li>
                <li class="side-iten"><a href="#"><i class="fa-solid fa-bell"></i><span class="item_description">Notificações</span></a></li>
                <li class="side-iten"><a href="#"><i class="fa-solid fa-image"></i><span class="item_description">Imagens</span></a></li>
                <li class="side-iten"><a href="#"><i class="fa-solid fa-user-gear"></i><span class="item_description">Configurações</span></a></li>
            </ul>

            <button id="open_button">
                <i id="open_button_icon" class="fa-solid fa-chevron-right"></i>
            </button>
        </div>

        <div id="logout">
            <a href="{{ url_for('logout') }}">
                <button id="logout_button">
                    <i class="fa-solid fa-right-from-bracket"></i>
                    <span class="item_description">Logout</span>
                </button>
            </a>
        </div>
    </nav>

    <header>
        <nav id="navbar">
            <img src="{{ url_for('static', filename='images/navbar_lumme.png') }}" alt="Logo da Lumme" class="logo">
            <ul id="nav_list">
                <li class="nav-item"><a href="{{ url_for('home') }}">Início</a></li>
                <li class="nav-item"><a href="{{ url_for('orcamento') }}">Orçamento</a></li>
                <li class="nav-item"><a href="{{ url_for('metas') }}">Metas</a></li>
                <li class="nav-item"><a href="{{ url_for('desafios') }}">Desafios</a></li>
                <li class="nav-item"><a href="{{ url_for('diario') }}">Diário Financeiro</a></li>
            </ul>
        </nav>
    </header>
    
    <script src="{{ url_for('static', filename='javascript/script.js') }}"></script>
</body>
</html>