{% extends "base.html" %}

{% block title %}Lumme - Diário Financeiro{% endblock %}

{% block styles %}
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/diario.css') }}">
{% endblock %}

{% block content %}
<main class="main-content">
  <div class="note-wrapper">
    <div class="note-editor">
      <h2>Nova Anotação</h2>
      <div class="note-form">
        <div id="botoes-categorias">
          <button class="aliment" type="button" data-cat="Alimentação">Alimentação</button>
          <button class="transp" type="button" data-cat="Transporte">Transporte</button>
          <button class="laz" type="button" data-cat="Lazer">Lazer</button>
          <button class="sau" type="button" data-cat="Saúde">Saúde</button>
          <button class="edu" type="button" data-cat="Educação">Educação</button>
          <button class="out" type="button" data-cat="Outros">Outros</button>
        </div>
        <input type="hidden" id="noteCategory" name="categoria">

        <input type="text" id="noteTitle" placeholder="Título da anotação">
        <textarea id="noteContent" placeholder="Digite sua anotação..."></textarea>
        <button id="addNoteBtn">Adicionar</button>
      </div>
    </div>

    <div class="notes-list" id="notesList">
      <h2>Minhas Anotações</h2>
    </div>
  </div>
</main>
{% endblock %}

{% block scripts %}
  <script src="{{ url_for('static', filename='javascript/diario.js') }}"></script>
{% endblock %}