<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/carrossel.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/navside.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/footer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/lumina_background.css') }}">
    
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/scrollreveal"></script>
    <title>Lumme - Home</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/lumme.ico') }}">
</head>
<body>
    {% include 'navside.html' %}
    

<main id="content">
        <section id="pagina_home">
            <div class="shape"></div>
    <div id="cta" style="display: flex; align-items: center; justify-content: space-between;">
    <div class="text-content">

    <h1 class="title">
                Seja Bem-vindo(a),<br>
                <span class="username">{{ nome }}!</span>
    </h1>

    </div>
    </div>
            <div class="wrapper">
                <section class="card-carousel">
                
                    <button class="carousel-btn carousel-btn-left">
                        <i class="fa-solid fa-chevron-left"></i>
                    </button>

                    <div class="carousel-track-container">
                        <ul class="carousel-track">
                        <li class="card">
                            <h3>Orçamento Mensal</h3>
                            <p>Defina e acompanhe seus gastos e ganhos mensais.</p>
                        </li>
                        <li class="card">
                            <h3>Reserva de Emergência</h3>
                            <p>Guarde 6 meses de despesas para imprevistos.</p>
                        </li>
                        <li class="card">
                            <h3>Metas Financeiras</h3>
                            <p>Estabeleça metas claras e acompanhe o progresso.</p>
                        </li>
                        <li class="card">
                            <h3>Controle de Dívidas</h3>
                            <p>Evite juros e organize seu pagamento de dívidas.</p>
                        </li>
                        <li class="card">
                            <h3>Investimentos</h3>
                            <p>Comece a investir pensando no longo prazo.</p>
                        </li>
                        </ul>
                    </div>

                    <button class="carousel-btn carousel-btn-right">
                        <i class="fa-solid fa-chevron-right"></i>
                    </button>
            
                </section>
            </div>

</main>
            <div class="lumina-container">
                <img src="{{ url_for('static', filename='images/porco.png') }}" alt="Imagem de fundo">
            </div>

 <div id="mensagens-flash">
  {% with mensagens = get_flashed_messages(with_categories=true) %}
    {% if mensagens %}
      {% for categoria, mensagem in mensagens %}
        <div class="flash" data-categoria="{{ categoria }}">{{ mensagem }}</div>
      {% endfor %}
    {% endif %}
  {% endwith %}
</div>

    <script src="{{ url_for('static', filename='js/mensagens.js') }}"></script>
    <script src="{{ url_for('static', filename='javascript/script.js') }}"></script>

        <footer id="main-footer">
            <div class="footer-content">
                <p>&copy; 2025 Lumme. Todos os direitos reservados.</p>
                <ul class="footer-links">
                    <li><a href="#">Política de Privacidade</a></li>
                    <li><a href="#">Termos de Uso</a></li>
                    <li><a href="#">Contato</a></li>
                </ul>
            </div>
        </footer>
</body>
</html>