<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/financial.css') }}">
    <title>Orçamento</title>
</head>
<body>

    <section id="financial">
        <img src="{{ url_for('static', filename='images/wallet.png') }}" id="financial_wallet" alt="">
        
        <div id="finacial_content">
            <h2 class="section-title">Orçamento</h2>
            <h3 class="section-subtitle">Mensal</h3>

            <div id="feedbacks">
                <div class="feedback">
                    <img src="{{ url_for('static', filename='images/avatar.png') }}" class="feedback-avatar" alt="">
                    <p>geyvhiegcfw nwfcfffffffffffffffffffffffffffffffffff x</p>
                </div>

                <div class="feedback">
                    <img src="{{ url_for('static', filename='images/avatar.png') }}" class="feedback-avatar" alt="">
                    <p>geyvhiegcfw nwfc ffffffffffffffffffffffffffffffx</p>
                </div>
            </div>
        </div>
    </section>

</body>
</html>
