<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"/>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/navside.css') }}">
    
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/scrollreveal"></script>
  <title>Lumme - Orçamento</title>
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/lumme.ico') }}">
</head>
<body>
    {% include 'grafico.html' %}
    {% include 'navside.html' %}

<script src="{{ url_for('static', filename='javascript/script.js') }}"></script>

</body>
</html>