 body {
      font-family: Arial, sans-serif;
      background: #f0f0f0;
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
      margin: 0;
      padding: 2.5ch;
    }

    .container {
      background: white;
      padding: 3.75ch 2.5ch;
      border-radius: 1.5ch;
      box-shadow: 0 0.5ch 2.5ch rgba(0,0,0,0.1);
      width: 100%;
      max-width: 45ch;
      text-align: center;
    }

    .logo {
      width: 125ch;
      max-width: 37.5ch;
      margin: 0 auto 3.125ch auto;
      display: block;
    }

    input {
      width: 90%;
      padding: 1.25ch;
      margin-bottom: 1.875ch;
      border-radius: 0.625ch;
      border: 0.125ch solid #ccc;
    }

    button {
      width: 96%;
      padding: 1.25ch;
      margin-bottom: 1.875ch;
      border-radius: 0.625ch;
      background-color: #3498db;
      color: white;
      border: none;
      cursor: pointer;
    }

    .login-link {
      text-align: center;
      font-size: 1.75ch;
    }

    .login-link a {
      color: #3498db;
      text-decoration: none;
    }
    
  .flash-message {
  background-color: #28a745;
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
  text-align: center;
}
