:root {
  --cor-roxo: #4f46e5;
  --cor-amarelo: #e6d556;
  --bs-body-bg: #c5cbda;
}

.wrapper {  
  margin: 100px 0 0 0;
  position: relative;
  display: flex;
  justify-content: flex-start;
  overflow: hidden;
  max-width: 76%;
  transform: translateX(-90px);
}

.card-carousel {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  overflow: hidden;
  width: 100%;
  gap: 10px;
}

.carousel-btn {
  background-color: var(--cor-roxo);
  color: white;
  border: none;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}


.carousel-track-container {
  overflow: hidden;
  width: 66%;
  margin: 0 20px;
}

.carousel-track {
  display: flex;
  transition: transform 0.5s ease;
  gap: 20px;
}

#multiCardCarousel .card {
  background-color: #ffffff;  
  color: var(--cor-roxo);      
  border: 0;
}

#multiCardCarousel .card h3 {
  font-size: 30px;
  margin-bottom: 10px;

}
#multiCardCarousel .card p {
  font-size: 20px;
  color: #333;
}