:root {
  --cor-roxo: #4f46e5;
  --cor-amarelo: #e6d556;
  --cor-fundo1: #c5cbda;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2 {
    margin-top: 50px;
    text-align: center;
}

#container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;  
    align-items: center;
    justify-content: center;
    gap: 20px; 
    padding: 20px; 
}

.flip-card {
    width: 200px;
    height: 350px;
    perspective: 1000px;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(-180deg)
}

.flip-card .flip-card-back {
    transform: rotateY(-180deg)
}

.flip-card-inner {
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
}

.flip-card-back, 
.flip-card-front {
    position: absolute;
    backface-visibility: hidden;
}

.flip-card-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
}

#menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

#dishes {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 32px;
}

.dish{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    gap: 18px;
    width: 25%;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 12px 4px  rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
}

.lum-heart {
    position: absolute;
    background-color: rgb(184, 124, 233);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.563rem;
    color: rgb(223, 210, 233);
    width: 70px;
    height: 70px;
    right: -10px;
    top: -10px;
    border-radius: 0px 30px 0px 35px;
}

.dish-description {
    color: #434343;
    text-align: center;
}