:root {
  --cor-roxo: #4f46e5;
  --cor-amarelo: #e6d556;
  --bs-body-bg: #c5cbda;
}

#main-footer {
    background-color: var(--cor-roxo);
    color: white;
    text-align: center;
    padding: 20px 10px;
    margin-top: 150px;
    font-size: 14px;
}

.footer-content {
    max-width: 1000px;
    margin: 0 auto;
}

.footer-links {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 10px 0 0 0;
    margin: 0;
    flex-wrap: wrap;
}

.footer-links li a {
    color: #e6d556;
    text-decoration: none;
    font-weight: 500;
}

.footer-links li a:hover {
    text-decoration: underline;
}