:root {
  --cor-roxo: #4f46e5;
  --cor-amarelo: #e6d556;
  --bs-body-bg: #edeeef;
}
 
* { 
  box-sizing: border-box; 
}

body {
  font-family: Arial, sans-serif;
  background: var(--bs-body-bg);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  padding: 2.5ch;
}

h2 {
  color: #000000;
}

.container {
  background: #ffffff;
  padding: 3.75ch 2.5ch;
  border-radius: 1.5ch;
  box-shadow: 0 0.5ch 2.5ch rgba(0,0,0,0.1);
  width: 100%;
  max-width: 45ch;  
  text-align: center;
}

.logo {
  width: 125ch;
  max-width: 37.5ch;
  margin: 0 auto 3.125ch auto;
  display: block;
}

.form { 
  display: flex; 
  flex-direction: column; 
  gap: 1.875ch; 
}

input {
  padding: 1.5ch;
  border: 0.125ch solid #ccc;
  border-radius: 0.75ch;
  font-size: 2ch;
}

button {
  padding: 1.5ch;
  background-color: var(--cor-roxo);
  color: #e6d556;
  border: none;
  border-radius: 0.75ch;
  font-size: 2ch;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover { 
  background-color: var(--cor-roxo); 
}

.toggle { 
  margin-top: 1.5ch; 
  font-size: 1.75ch; 
}

.toggle a { 
  color: #4f46e5; 
  text-decoration: none; 
}

.toggle a:hover { 
  text-decoration: underline; 
}

.flash-message {
  background-color: #28a745;
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
  text-align: center;
}

@media (max-width: 480px) {
  .container {
    max-width: 90%; 
    padding: 2.5ch 2ch;
  }

  h2 {
    font-size: 1.4rem;
  }

  input, button {
    font-size: 1rem;
    padding: 1.2ch;
  }

  .toggle {
    font-size: 1rem;
  }

  .logo {
    max-width: 25ch;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 80%;
    padding: 3ch 2ch;
  }

  .logo {
    max-width: 30ch;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 45ch; 
  }
}
