@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --cor-roxo: #4f46e5;
  --cor-amarelo: #e6d556;
  --cor-fundo1: #c5cbda;
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body , main#content {
    background-color: var(--cor-fundo1) !important;
    min-height: 100vh;
    visibility: visible;
}

main {
    margin-top: 80px;
    margin-left: 82px;
    padding: 20px;
}

section {
    padding: 28px 8%;
}

.btn-default {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--cor-roxo);
    border-radius: 12px; 
    padding: 10px 14px;
    font-weight: 600;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color .3s ease;
}

.btn-default:hover {
    background-color: rgb(103, 66, 138);
}

.social-media-buttons {
    display: flex;
    gap: 18px;
}

.social-media-buttons a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 40px;
    background-color: rgb(223, 210, 233);
    font-size: 1.25rem;
    border-radius: 10px;
    text-decoration: none;
    color: black;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow .3s ease;
}

.social-media-buttons a:hover {
    box-shadow: 0px 0px 12px 8px rgba(0, 0, 0, 0.1);
}

.section-title {
    color: #e9a209;
    font-size: 2.1875rem;
}

.section-subtitle {
    font-size: 1.563rem;
}

main#content {
    margin-left: 100px; 
    padding: 20px;
}

#cta {
    display: flex;
    flex-direction: column; 
    gap: 15px;               
    max-width: 400px;
    padding: 30px;       
}

#cta_buttons {
    align-self: flex-start; 
}

#cta .title {
    color: var(--cor-roxo);
    font-size: 60px;
    margin-top: 50px;
    white-space: nowrap;
    text-align: left;

}

#cta .title span {
  display: inline-block;
  background-color: var(--cor-roxo);
  color: #e6d556;
  padding: 6px 10px;
  border-radius: 6px;
  margin-top: 6px;
}

.card {
  background-color: var(--cor-amarelo);
  border-radius: 15px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  height: 250px;           /* altura fixa */
  display: flex;
  padding: 20px;
  box-sizing: border-box;  /* garante padding dentro da altura */
}

.carousel-inner .row {
  align-items: stretch; /* força as colunas a terem a mesma altura */
}

.carousel-item .col-12.col-md-4 {
  display: flex;         /* faz a coluna ser flex container */
  align-items: stretch;  /* força o card dentro a se esticar */
}

.carousel-item .card {
  flex-grow: 1;          /* faz o card preencher toda altura da coluna */
}


